div.themeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    outline: 1px solid white;
    border-radius: 100px;
    width: 50px;
    height: 120px;
    transition: 1s;
    background-color: var(--background-two);
}
