button {
    border: none;
    background-color: indianred;
    font-weight: bold;
    transition: 0.5s;
    border-radius: inherit;
    font-size: 1.5rem;
    color: white;
}
button:hover {
    background-color: lightcoral;
}

.equals {
    grid-column: 3 / 5;
    background-color: PaleVioletRed;
}

.equals:hover {
    background-color: MediumVioletRed;
}
