.buttonwrapper {
    width: 90%;
    height: 80%;
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    background-color: antiquewhite;
    border-radius: 3vw;
}
