.screen {
    height: 100px;
    width: 95%;
    border-radius: 10px;
    margin: 3% 3% 0 3%;
    padding: 1%;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    outline: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 2rem;
}
