.calculatorbody {
    height: 540px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-two);
    outline: 0.5px solid white;
}
