.calculatorbody {
    height: 75vh;
    width: 400px;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: peru;
}
